.flowerRight {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: -1;
}

.flowerLeft {
    position: absolute;
    left: 0;
}

@media (min-width: 600px) {
    .flowerRight {
        right: calc(50% - 300px);
    }
    .flowerLeft {
        left: calc(50% - 300px);
    }
}
