@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'GapyeongHanseokbongBigBrush';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/GapyeongHanseokbong-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'JoseonBoldMyongjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

:root {
    --vh: 1vh;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'GowunDodum-Regular', serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-size: 18px;
    user-select: none;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

body.scrollable {
    overflow: auto !important;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.heart-bubble {
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: bubble 2s ease-out forwards;
    z-index: 9999;
    opacity: 1;
    will-change: transform, opacity;
}

@keyframes bubble {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -300%) scale(0.5);
        opacity: 0;
    }
}

.cursor-heart {
    position: fixed;
    width: 20px;
    height: 20px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 0.9;
}



