.container {
    position: relative;
    width: 90%;
    aspect-ratio: 0.75289;
    margin: 16px auto;
    border-radius: 30%;
    overflow: hidden;
}

.imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s linear;
}

.visible {
    opacity: 1;
    z-index: 1;
}

.hidden {
    opacity: 0;
    z-index: 0;
}

.image {
    object-fit: cover;
}
