.map {
    width: 80%;
    position: relative;
    overflow: hidden;
    background: rgb(248, 249, 250);
    aspect-ratio: 1.2;
}

.buttonBox {
    display: flex;
    width: 80%;
    min-width: 300px;
    justify-content: space-around;
    margin: 10px 0;
}

.button {
    width: 74px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border: 4px solid #fff8f8;
    padding: 3px 5px;
    border-radius: 8px;
    background: #fff2f2;
    font-size: 17px;
}

.buttonImg {
    align-self: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 #00000029;
}

.guideLine {
    width: 75%;
    min-width: 300px;
    color: #575757;
    font-size: 16px;
}

.guideLine img {
    margin-right: 3px;
}

.infoTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    margin: 12px 0 4px 0;
    color: #777
}

.info {
    padding-left: 8px;
}

.info span {
    color: #000;
}

.trainColor {
    color: #CD7C2F;
}

.blueBus {
    color: #286ABF;
    font-weight: bold;
}

.greenBus {
    color: #26BD56;
    font-weight: bold;
}

.redBus {
    color: #FB0F0F;
    font-weight: bold;
}

